@import (less, reference) url("../tmp/sprite.less");
@import (less, reference) url("variables.less");

html{
  background: green;
} 


.one{
  &__block{
    position: relative;
  }
  &__block2{
    position: relative;
  }
}

.header{
  width: 100%;
  height: 50px;
  background: @blue;

  &__block{
    width: 100px;
    color: @blue;
    display: flex;
  }
  &__icon{
    .svg__checked;
  }
  &__icon2{
    .svg__user;
  }
  &__icon3{

  }
};

.box{
    .svg__loadMore;
}
